:root {
  --light-green: #f2f7f5;
  --dark-green: #00473e;
  --gray: #475d5b;
  --mustard: #faae2b;
  --pink: #ffa8ba;
  --salmon: #fa5246;
  --blue: #106173;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--light-green);
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'A-WideHeavy';
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p {
  color: var(--gray);
}

main {
  display: grid;
  grid-template-rows: min-content 1px min-content 1px min-content 1px min-content;
  z-index: 10;
}

.main-heading {
  color: var(--dark-green);
  font-size: 3.125rem;
  line-height: 1.2;
  margin: 0;
  @media (max-width: 600px) {
    font-size: 2.25rem;
  }
  .main-heading-small {
    display: block;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
      Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @media (max-width: 600px) {
      font-size: 1.5rem;
    }
  }
}

.tagline {
  font-size: 18px;
  width: 70%;
}

.intro-wrapper {
  display: grid;
  grid-template-columns: 60% 1px 1fr;
  height: 500px;
  padding-inline: 5rem;
  position: relative;
  @media (max-width: 900px) {
    grid-template-columns: 100%;
    grid-template-rows: 200px 500px 1px auto;
    padding-inline: 3rem;
    .intro-divider {
      display: none;
    }
  }
  @media (max-width: 600px) {
    padding-inline: 2rem;
  }
}

.intro,
.about {
  place-self: center;
  z-index: 20;
}
.intro {
  @media (max-width: 900px) {
    place-self: start;
    margin-bottom: 2rem;
    grid-row: 2;
  }
}
.intro-divider {
  background-color: var(--gray);
  z-index: 10;
}

.work {
  padding-block: 4rem;
}
.about,
.work,
.contact {
  .title {
    font-size: 2rem;
    color: var(--dark-green);
    text-align: center;
    margin: 0.5rem;
  }
  .paragraph {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    max-width: 60ch;
    @media (max-width: 900px) {
      max-width: 50ch;
    }
  }
  .about-subtitle {
    color: var(--dark-green);
    text-align: center;

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
      Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}
.about {
  display: grid;
  place-items: center;
  margin-block: 10rem;
  padding-inline: 5rem;
  @media (max-width: 900px) {
    padding-inline: 3rem;
  }
  @media (max-width: 900px) {
    padding-inline: 2rem;
  }
}
.contact {
  display: grid;
  place-items: center;
  margin-block: 4rem;
  padding-inline: 5rem;
  @media (max-width: 900px) {
    padding-inline: 3rem;
  }
  @media (max-width: 900px) {
    padding-inline: 2rem;
  }
}
.connect-link-wrapper {
  display: flex;
  gap: 2rem;
}
.project-wrapper {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, minmax(200px, 500px));
  gap: 4rem;
  margin-block: 10rem;
  padding-inline: 4rem;
  &:first-of-type {
    margin-top: 6rem;
  }
  @media (max-width: 600px) {
    grid-template-columns: 100%;
    gap: 1rem;
    margin-block: 5rem;
    padding-inline: 2rem;
  }
}
.project-image-wrapper {
  place-self: center;
}

.project-title {
  color: #2f3b37;
  margin-block: 0.5rem;
  font-size: 1.5rem;
}
.external-link {
  display: flex;
  align-items: center;
}

.external-link-icon {
  margin-left: 8px;
  overflow: visible;
  stroke: var(--blue);
  width: 1.2ch;
  max-width: 19px;
}

.project-description {
  font-size: 1rem;
  margin: 0;
}

.header-blobs {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  overflow: visible;
  @media (max-width: 900px) {
    width: 65%;
    height: auto;
  }
  @media (max-width: 600px) {
    width: 120%;
    top: -150px;
  }
}

//blobs
.blobs-wrapper {
  position: relative;
  @media (max-width: 900px) {
    grid-row: 1;
  }
}
.pink-blob {
  background-color: var(--pink);
  position: absolute;
  top: -8lvh;
  right: -34vw;
  width: 55vw;
  height: 56vw;
  filter: blur(50px);
  border-radius: 80%;
  // mix-blend-mode: overlay;
}
.pink-blob-top {
  background-color: var(--pink);
  position: absolute;
  top: -20lvh;
  left: -6vw;
  width: 55vw;
  height: 36vw;
  filter: blur(50px);
  border-radius: 80%;
  // mix-blend-mode: overlay;
}
.mustard-circle {
  background-color: var(--mustard);
  position: absolute;
  top: -8vw;
  left: -10vw;
  width: 44vw;
  height: 35vw;
  filter: blur(50px);
  border-radius: 50%;
  mix-blend-mode: overlay;
}
.mustard-oval {
  background-color: var(--mustard);
  position: absolute;
  top: 11vw;
  left: 0px;
  width: 40vw;
  height: 7vw;
  filter: blur(50px);
  border-radius: 50%;
  mix-blend-mode: overlay;
}
.green-oval-top {
  background-color: var(--dark-green);
  position: absolute;
  top: -16vw;
  left: 8vw;
  width: 50vw;
  height: 29vw;
  filter: blur(50px);
  border-radius: 50%;
  mix-blend-mode: darken;
}
.green-oval-side {
  background-color: var(--dark-green);
  position: absolute;
  top: -6vw;
  right: -28vw;
  width: 41vw;
  height: 49vw;
  filter: blur(50px);
  border-radius: 50%;
  // mix-blend-mode: overlay;
}
.noise-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: url(#noiseFilter) brightness(0.8) contrast(1.1);
  mix-blend-mode: overlay;
  z-index: 10;
  pointer-events: none;
}
