:root {
  --light-green: #f2f7f5;
  --dark-green: #00473e;
  --gray: #475d5b;
  --mustard: #faae2b;
  --pink: #ffa8ba;
  --salmon: #fa5246;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--light-green);
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'A-WideHeavy';
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p {
  color: var(--gray);
}

main {
  display: grid;
  grid-template-rows: 500px 1px 500px 1px 1fr;
  z-index: 10;
}

.main-heading {
  color: var(--dark-green);
  font-size: 3.125rem;
  line-height: 1.2;
  margin: 0;
  .main-heading-small {
    display: block;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
      Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}

.tagline {
  font-size: 18px;
  width: 70%;
}

.intro-wrapper {
  display: grid;
  grid-template-columns: 60% 1px 1fr;
  height: 500px;
  padding-inline: 5rem;

  position: relative;
}

.intro,
.about {
  place-self: center;
  z-index: 10;
}
.intro-divider {
  background-color: var(--gray);
  z-index: 10;
}

.work {
  padding-block: 4rem;
}
.about,
.work {
  .title {
    font-size: 2rem;
    color: var(--dark-green);
    text-align: center;
    margin: 0;
  }
  .paragraph {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    width: 60%;
  }
}
.project-wrapper {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, minmax(200px, 500px));
  gap: 4rem;
  margin-block: 4rem;
  padding-inline: 4rem;
}
.project-image-wrapper {
  place-self: center;
}

.project-title {
  color: var(--gray);
  margin-bottom: 0;
  a {
    color: currentColor;
    text-decoration: none;
  }
}

.project-description {
  font-size: 1rem;
  margin: 0;
}
